murfi-rt-PyProject/subjects/sub-*
murfi-rt-PyProject/scripts/murfi2.sif
murfi-rt-PyProject/scripts/murfi2.1.sif
*DS_Store
murfi-rt-PyProject/subjects/remind*
murfi-rt-PyProject/subjects/REMIND*
self_reference/stimtime_generation/
*__pycache__/
*.pyo 
*.pyc
*/data/
self_reference/reMIND/
*/pilot_data
