murfi-rt-PyProject/subjects/sub-*
murfi-rt-PyProject/scripts/murfi2.sif
murfi-rt-PyProject/scripts/murfi2.1.sif
*DS_Store
murfi-rt-PyProject/subjects/remind*
murfi-rt-PyProject/subjects/REMIND*
self_reference/stimtime_generation/
*__pycache__/
*.pyo 
*.pyc
*/data/
self_reference/reMIND/
*/pilot_data
*.Rhistory
analysis/pilot/data/
*.Rdata
*.html
*.rda 
analysis/pilot/scripts/power_analysis/*.csv
analysis/pilot/scripts/power_analysis/*.png
*.ipynb_checkpoints
self_reference/analysis_scripts/power_analysis/*.csv
self_reference/analysis_scripts/power_analysis/*.png
self_reference/analysis_scripts/placeholder_results_stage1/*.png
.virtual_documents/
*.mov
materials/posthoc_ica_scripts/dmn_ic_plots/
materials/posthoc_ica_scripts/mask_plots/
materials/posthoc_ica_scripts/masks/
materials/posthoc_ica_scripts/sub_fsfs/
materials/posthoc_ica_scripts/template_networks.nii.gz
analysis/pilot/scripts/pilot_figure_for_jaacap_reg_report.png